/.vscode
/calculus.c
/coordinates.tmp
/helloworld
/helloworld.c
/polynomial_calculus
/polynomial_calculus copy
/polynomial_calculus copy 2.cpp
/polynomial_calculus.cpp
/polynomial_calculus_main
/polynomial_calculus_updated
/polynomial_calculus_updated copy 2.cpp
/polynomial_calculus_updated copy.cpp